@model RMMS.Model.Account.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
@using (Html.BeginForm("ChangePassword"))
{
    @Html.Hidden("id",Request["id"])
    if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Oh snap!</strong><br /> @ViewBag.Error
        </div>
    }
    else if (!string.IsNullOrEmpty(ViewBag.Success))
    {
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
             @ViewBag.Success
        </div>
    }

    <div class="row">
        <div class=" col-sm-3 col-md-4"></div>
        <div class=" col-sm-6 col-md-4" align="center">

            <div class="panel panel-default">
                <div class="panel-heading"><h4>Change Password</h4></div>
                @*<div class="well">
                        <h4>Reset Password</h4>
                    </div>*@
                <div class="panel-body">

                    <center>
                        <img src="~/Content/Images/teach-icon.png" height="70" width="70" /><br />
                        <span style="font-family:'CommercialScript BT'; font-size:24px; color:#d742f5">Tutors</span><span style="font-family:'CommercialScript BT'; font-size:24px; color:#58c6fc"> point</span>

                    </center>
                    <br />

                    @*<span style="color:red">*</span> This fields are required<br/>*@


                    <div class="form-group">
                        @*@Html.LabelFor(m => m.UserName) &nbsp;<span style="color:red">*</span>*@
                        <div class="input-group">
                            <span class="input-group-addon" style="width: auto"><i class="fa fa-key" aria-hidden="true"></i></span>

                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "Enter your new password" })

                        </div>
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                    <div class="form-group">
                        @*@Html.LabelFor(m => m.UserName) &nbsp;<span style="color:red">*</span>*@
                        <div class="input-group">
                            <span class="input-group-addon" style="width: auto"><i class="fa fa-key" aria-hidden="true"></i></span>

                            @Html.PasswordFor(m => m.CPassword, new { @class = "form-control", @placeholder = "Confirm password" })

                        </div>
                        @Html.ValidationMessageFor(m => m.CPassword)
                    </div>





                    <button type="submit" class="btn btn-info btn-block" value="ChangePassword"> <span style="font-size:medium">Change Password</span></button><br />



                </div>


            </div>




        </div>
        <div class=" col-sm-3 col-md-4"></div>
    </div>
}



